@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  color: #ffffff;
}
html,
body {
  height: 100%;
  width: 100%;
  background-image: url("https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8dGljJTIwdGFjJTIwdG9lJTIwYmFja2dyb3VuZCUyMGltZ3xlbnwwfHwwfHx8MA%3D%3D");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
nav {
  color: white;
  height: 65px;
  font-size: 27px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-family: "Roboto", sans-serif;
  border-bottom: 1px solid rgb(255, 255, 255);
}

nav ul {
  list-style-type: none;
}

.gameContainer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.container {
  display: grid;
  grid-template-rows: repeat(3, 10vw);
  grid-template-columns: repeat(3, 10vw);
  font-family: "Roboto", sans-serif;
  position: relative;
}

.box {
  border: 2px solid rgb(255, 255, 255);
  font-size: 8vw;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  font-size: 22px;
}

.gameInfo {
  padding: 0 40px;
  font-family: "Baloo Bhaina 2", cursive;
}

.gameInfo h1 {
  font-size: 2.5rem;
}

.imgbox img {
  width: 0;
  transition: width 1s ease-in-out;
}

.br-0 {
  border-right: 0;
}

.bl-0 {
  border-left: 0;
}

.bt-0 {
  border-top: 0;
}

.bb-0 {
  border-bottom: 0;
}

#reset {
  margin: 0 23px;
  padding: 1px 18px;
  background: transparent;
  border-radius: 6px;
  cursor: pointer;
  font-family: "Baloo Bhaina 2";
  font-size: 15px;
  font-weight: bolder;
}

.line {
  background-color: black;
  height: 4px;
  width: 0;
  position: absolute;
  background-color: #911d91;
  transition: width 1s ease-in-out;
}

@media screen and (max-width: 950px) {
  body {
    height: 100%;
    width: 100%;
    background-image: url("https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8dGljJTIwdGFjJTIwdG9lJTIwYmFja2dyb3VuZCUyMGltZ3xlbnwwfHwwfHx8MA%3D%3D");
  }
  .gameContainer {
    flex-wrap: wrap;
  }
  .gameInfo {
    margin-top: 34px;
  }
  .gameInfo h1 {
    font-size: 1.5rem;
  }
  .container {
    grid-template-rows: repeat(3, 20vw);
    grid-template-columns: repeat(3, 20vw);
  }
}
